    /*fonts-ordinary*/
    @font-face {
      font-famaly:"roboto";
      src:url("../fonts/roboto.woff2") format("woff2"),
      url("../fonts/roboto.woff") format("woff");
      font-weight: 400;
      font-style: normal;
    }
      /*fonts-bold*/
      @font-face {
      font-famaly:"robotobold";
      src:url("../fonts/robotobold.woff2") format("woff2"),
      url("../fonts/robotobold.woff") format("woff");
      font-weight: 700;
      font-style: normal;
    }  
     /*fonts-fatty*/
    @font-face {
      font-famaly:"robotomedium";
      src:url("../fonts/robotomedium.woff2") format("woff2"),
      url("../fonts/robotomedium.woff") format("woff");
      font-weight: 500;
      font-style: normal;
    } 

    /*variables*/
    :root {
     --basic-black:#000000;
     --basic-black:#070707;
     --basic-black:#030303;
     --basic-grey:#eeeeeedc;
     --basic-grey:#dfdfdf;
     --basic-grey:#d5d5d5;
     --basic-white:#ffffff;
     --basic-red:#fb565a;
     --basic-red:#e74246;
     --basic-red:#d7373b;
     --basic-green:#00ca74;
     --basic-green:#00bc6c;
     --basic-green:#00aa62;
     --basic-yellow:#efc849;
     --basic-yellow:#eab534;
     --basic-yellow:#e5a722;
    }

    /* Global */
    .page-body {
      min-width: 1440px;
      margin: 0;
      padding: 0;
      font-family:"roboto";
      text-transform: uppercase;
      background-image: url("img/bg.jpg");
      background-position: top center;
      background-repeat: no-repeat;
      min-height:100%;
      align-content:start;
    }
 
    img {
      max-width: 100%;
      height:auto;
    }

    /*main-header*/
    .main-header {
      margin-bottom:20px;
    }

    /*main-navigation*/
    .main-navigation {
      display:flex;
      flex-direction: row;
      align-items: center;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 30px;
      color:#000000; 
    }

    /*container*/
    .container {
      width:1157px;
      margin:0 auto;
      padding:0 10px;
    }

    .main-header-bar {
      background-color:#C4C4C4;
    }

    /*main-navigation-wrapper*/
    .main-navigation-wrapper.container {
      display:flex;
      justify-content:space-between;
      width:100%;
      margin:0 auto;
      padding:0 10px;
      margin-bottom:10px;
      background-color: #d5d5d5;
    }
    
    /* Logo */
    .main-header-logo {
      display: flex;
      background-image: url(..//img/logo.png);
    }

     /*site-navigation */
     .site-navigation{
       list-style:none;
       min-height:70px;
       width:437px;
       margin:0;
       padding:0;
     }

    /*user-navigation */
    .user-navigation {
      display: flex;
      flex-direction:row;
      align-items:center;
      margin:0;
      padding:0;
      max-width:140;
    }
    .user-navigation.basket-link {
      padding-left:50px;
    }

    .site-navigation a,
    .user-navigation a {
      font-family: Roboto;
      font-style:normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 30px; 
      color:#000000;
    }
    
    .site-navigation a:hover,
    .user-navigation a:hover {
      color: #fb565a;
      background:#dfdfdf;
    }
    .site-navigation a:focus,
    .user-navigation a:focus {
      color:#d5d5d5;
      background:#dfdfdf;
    }

    /*information*/
    .list-information {
      list-style:none;
      display:grid;
      grid-template-columns:1fr 2fr;
      column-gap:40px;

    }

    .list-item-gallery {
      background-image: url("../img/slideTelephone.jpg");
    }
    
    .list-item-p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 55px;
      line-height: 55px;
      color:#000000;
      background: #d5d5d5;
    }

    .list-item-p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color:#000000;
      background:#d5d5d5;
    }

    .list-item-gallery {
      background-image: url("../img/slideComputer.jpg");
    }
    
    .list-item-p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 55px;
      line-height: 55px;
      color:#000000;
      background: #d5d5d5;
    }

    .list-item-p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color:#000000;
      background:#d5d5d5;
    }

    .list-item-gallery {
      background-image: url("../img/slideTablet.jpg");
    }
    
    .list-item-p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 55px;
      line-height: 55px;
      color:#000000;
      background: #d5d5d5;
    }

    .list-item-p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color:#000000;
      background:#d5d5d5;
    }

    .list-item-gallery {
      background-image: url("../img/slideComputer.jpg");
    }
     /*button*/
    .button-p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color:#ffffff;
      background:#fb565a;
    }

    .button:hover {
      color:#ffffff;
      background:#e74246;
      border-radius: 3px;
    }
    .button:focus {
      color:#d5d5d5;
      background:#d7373b;
      border-radius: 3px;
    }

    /*services*/
    .services-list {
      margin-bottom:40px;
    }

    .services-list {
      display: grid;
      grid-template-columns:1fr 1fr 1fr;
      margin:0;
      padding:0;
      column-gap:40px;
      list-style:none;
    }

    .services-list {
      text-align: center;
    }
    
    .services-item {
      background-image: url("../img/web.jpg");
      background:#ffffff;
    }

    .list-item-h3 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color:#070707;
      background:#ffffff;
    }

    .list-item-p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color:#000000;
      background:#ffffff;
    }
    /*button*/
    .list-item button:hover {
      color:#ffffff;
      background:#e74246;
      border-radius: 3px;
    }
    .list-item-button:focus {
      color:#d5d5d5;
      background:#d7373b;
      border-radius: 3px;
    }

    .services-item {
      background-image: url("../img/application.jpg");
      background:#ffffff;
    }

    .list-item-h3 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color:#070707;
      background:#ffffff;
    }

    .list-item-p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color:#000000;
      background:#ffffff;
    } 
    /*button*/
    .list-item-button:hover {
      color:#ffffff;
      background:#00bc6c;
    }
    .list-item-button:focus {
      color:#d5d5d5;
      background:#00aa62;
    }

    .services-item {
      background-image: url("../img/presentation.jpg");
      background:#ffffff;
    }

    .list-item-h3 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color:#070707;
      background:#ffffff;
    }

    .list-item-p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color:#000000;
      background:#ffffff;
    }
    /*button*/
    .list-item-button:hover {
      color:#ffffff;
      background:#eab534;
    }

    .list-item-button:focus {
      color:#d5d5d5;
      background:#e5a722;
    }

    /*index-column*/
    .index-column {
      display:flex;
    justify-content:space-between;
    margin-bottom:20px;
    }

    /*description*/
    .description {
      list-style:none;

    }

    .description-p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 45px;
      line-height: 45px;
      color:#000000;
      background:#ffffff;
    }

    .description-p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color:#000000;
      background:#ffffff;
    }

    /*development*/
    .development-list {
      list-style:none;
    }

    .development-list-h3 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color:#000000;
      background:#ffffff;
    }

    .development-idem {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color:#000000;
      background:#ffffff;
    }

    /*indicators*/
    .indicators-list {
      list-style:none;
    }

    .indicators-idem {
      background-image: url("../img/nerds-illustration.jpg");
      background:#ffffff;
    }

    .indicators-idem-p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color:#000000;
      background:#ffffff;
    }

    .indicators-idem {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 45px;
      line-height: 64px;
      color:#000000;
      background:#ffffff;
    }

    .indicators-idem {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 40px;
      color:#000000;
      background:#ffffff;
    }

    .indicators-idem {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color:#000000;
      background:#ffffff;
    }

    /*partners*/
    .partners-list-a {
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 20px;
      margin:0;
      padding:0;
      list-style:none;
    }  

    .partners-list-a {
      text-align:center;
    } 

    .partners-idem-a:hover {
      color:#000000;
      background-color:#ffffff;
      background-image: url("../img/logohtml-academy.png");
    }

    .partners-idem-a:focus {
      color:#d5d5d5;
      background-image: url("../img/logohtml-academy.png");
      background:#ffffff;
    }

    .partners-idem-a:hover {
      color:#000000;
      background-color:#ffffff;
      background-image: url("../img/logoBarbershop-borodinski.png");
    }

    .partners-idem-a:focus {
      color:#d5d5d5;
      background-image: url("../img/logoBarbershop-borodinski.png");
      background:#ffffff;
    }

    .partners-idem-a:hover {
      color:#000000;
      background:#ffffff;
      background-image: url("../img/logoPink.png");
    }

    .partners-idem-a:focus {
      color:#d5d5d5;
      background-image: url("../img/logoPink.png");
      background:#ffffff;
    } 

    .partners-idem-a:hover {
      color:#000000;
      background:#ffffff;
      background-image: url("../img/logoMishka.png");
    }

    .partners-idem-a:focus {
      color:#d5d5d5;
      background-image: url("../img/logoMishka.png");
      background:#ffffff;
    }

    /*main-footer*/
    .main-footer {
      margin-top:74;
      padding:140;
    }

    /*main-footer-container*/ 
    .main-footer-container {
      display:grid;
      grid-template-columns:1fr 2fr;
    }

    /*map*/
    .map {
      background-image: url("../img/map-markerNerds.png");
    }

    .rectangle {
      position: absolute;
      width: 319px;
      height: 308px;
      left: 140px;
      top: 1897px;
      background:#ffffff;
    }

    .title-p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      color:#000000;
      background:#ffffff;
    }

    .contacts {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color:#000000;
      background:#ffffff;
    }
    /*button*/
    .button {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color:#ffffff;
      background:#d7373b;
    }

    /*footer-social*/
    .footer-socia-list {
      list-style:none;
      display: flex;
      justify-content: space-between;
      max-width:120px;
    }

    .footer-socia-idem {
      width:81px;
      height:81px;
      color: #ffffff;
      background:#d5d5d5;
      border-radius:50%;
      background-image: url("../img/vk-icon.ico");
    }

    .footer-socia-idem {
      width:81px;
      height:81px;
      color: #ffffff;
      background:#d5d5d5;
      border-radius:50%;
      background-image: url("../img/fb-icon.ico");
    }

    .footer-socia-idem {
      width:81px;
      height:81px;
      color: #ffffff;
      background:#d5d5d5;
      border-radius:50%;
      background-image: url("../img/insta-icon.ico");
    }

    
    .footer-socia-idem-hover {
      width:81px;
      height:81px;
      color:#ffffff;
      background:#e74246;
      border-radius:50%;
      background-image: url("../img/vk-icon.ico");
    }

    .footer-socia-idem-hover{
      width:81px;
      height:81px;
      color: #ffffff;
      background:#e74246;
      border-radius:50%;
      background-image: url("../img/fb-icon.ico");
    }

    .footersocia-idem-hover {
      width:81px;
      height:81px;
      color: #ffffff;
      background:#e74246;
      border-radius:50%;
      background-image: url("../img/insta-icon.ico");
    }

    .footer-socia-idem-focus {
      width:81px;
      height:81px;
      color:#d5d5d5;
      background:#d7373b;
      border-radius:50%;
      background-image: url("../img/vk-icon.ico");
    }

    .footer-socia-idem-focus {
      width:81px;
      height:81px;
      color:#d5d5d5;
      background:#d7373b;
      border-radius:50%;
      background-image: url("../img/fb-icon.ico");
    }

    .footer-socia-idem-focus {
      width:81px;
      height:81px;
      color: #d5d5d5;
      background:#d7373b;
      border-radius:50%;
      background-image: url("../img/insta-icon.ico");
    }

    /*footer-p*/
    .footer-p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 36px;
      color: #000;
      background: #C4C4C4;
      align-items: center;
      justify-self:center;
      max-width: 660px;
    }
    .footer-p {
      font-family: Roboto;
      font-style: normal;
      font-weight:400;
      font-size: 16px;
      line-height: 22px;
      color: #000;
      background: #C4C4C4;
      align-items: center;
      justify-self:center;
      max-width:373;
    }


    /*popur*/
    .popur {
    background:#ffffff;
    box-shadow:slateblue 0px 20px 40px rgba(0, 0, 0, 0.4);
    }  

    .popur-h2 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 45px;
      line-height: 53px;
      color: #000000;
      background: #ffffff;
    }

    /*form-input*/
    .form-input {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      color:#000000;
      background: #ffffff;
    }

    .form-input [type="your name"],
    .form-input [type="your email"],
    .form-input [type="text letter"] {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color:#000000;
      background: #ffffff;
    }
   
    .form-input [type="name surname"],
    .form-input [type="email"],
    .form-input [type="text"]{
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      border: 2px;
      color:#d5d5d5;
      background: #ffffff;
    }
    .form-input:hover {
      border-color:#d5d5d5;
    }

    .form-input:focus {
      border-color:#030303;
    }

    .form-input:invalid {
      border-color:#fb565a;
      color:#fb565a;
      background:#ffffff;
    }

    .button {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color:#ffffff;
      background:#d7373b;
      border-radius: 3px;;
    }

    .main-footer-p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      align-items: center;
      line-height: 36px;
      color:#000000;
      background:#ffffff;
    }

    .main-footer-p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      align-items: center;
      color:#000000;
      background:#ffffff;
    }


    /*catalog*/
    .page-catalog-h1 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 55px;
      line-height: 55px;
      color: #000;
      background: #C4C4C4;
      align-items: center;
    }

      /*main-navigation*/
      .main-navigation {
        display:flex;
        flex-direction: row;
        align-items: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color:#000000; 
      }
  
      /*container*/
      .container {
        width:1157px;
        margin:0 auto;
        padding:0 10px;
      }
  
      .main-header-bar {
        background-color:#C4C4C4;
      }
  
      /*main-navigation-wrapper*/
      .main-navigation-wrapper.container {
        display:flex;
        justify-content:space-between;
        width:100%;
        margin:0 auto;
        padding:0 10px;
        margin-bottom:10px;
        background-color: #d5d5d5;
      }
      
      /* Logo */
      .main-header-logo {
        display: flex;
        background-image: url(..//img/logo.png);
      }
  
       /*site-navigation */
       .site-navigation{
         list-style:none;
         min-height:70px;
         width:437px;
         margin:0;
         padding:0;
       }
  
      /*user-navigation */
      .user-navigation {
        display: flex;
        flex-direction:row;
        align-items:center;
        margin:0;
        padding:0;
        max-width:140;
      }
      .user-navigation.basket-link {
        padding-left:50px;
      }

    
    .filter fieldset {
      padding:0;
      margin:0;
      border-bottom:30px;
      border:none;
    }

    .parameters-legend-cost {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      align-items: center;
      color:#000;
      background:#ffffff;
    }

      .parameters-legend-cost
      rect {
      position: absolute;
      width: 260px;
      height: 80px;
      left: 140px;
      top: 488px;
      color: #d5d5d5;
      background: #ffffff;
      border-radius: 3px;
    }

    .parameters-legend-cost {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color:#000;
      background: #ffffff;
    }

    .parameters-legend-cost
    rect { 
     position: absolute;
     width: 80px;
     height: 38px;
     left: 172px;
     top: 582px;
     color: #030303;
     background:#d5d5d5;
     border-radius: 3px;
    }

    .parameters-legend-cost {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color:#000;
      background:#d5d5d5;
    }

    .parameters-legend-cost
    rect {
      position: absolute;
      width: 80px;
      height: 38px;
      left: 320px;
      top: 582px;
      color:#000;
      background:#d5d5d5;
      border-radius:3px;
    }

    .parameters-legend-grid {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      align-items: center;
      color: #000;
      background:#ffffff;
    }

    .grid-ul {
      list-style: none;
      padding:0;
      margin:0;
    }

    .grid-inpud-radio-on {
      position: absolute;
      width: 25px;
      height: 25px;
      left: 140px;
      top: 717px;
      opacity: 0.4;color:#000;
      background: #ffffff;
    }

    .grid-inpud-radio-on-adaptive {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color:#000;
      background:#ffffff;
    }

    .grid-inpud-radio-of {
      position: absolute;
      width: 25px;
      height: 25px;
      left: 140px;
      top: 757px;
      opacity: 0.4;
      color:#000;
      background:#ffffff;
    }

    .grid-inpud-radio-of-fixed {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #030303;
      background: #ffffff;
    }

    .grid-inpud-radio-of {
      position: absolute;
      width: 25px;
      height: 25px;
      left: 140px;
      top: 757px;
      opacity: 0.4;
      color:#000;
      background:#ffffff;
    }

    .grid-inpud-radio-of-rubber-band {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #030303;
      background:#ffffff;
    }

    .grid-inpud-radio-of,
    .grid-inpud-radio-on:hover {
      color: #030303;
      background: #ffffff;
    }

    .grid-inpud-radio-of,
    .grid-inpud-radio-on:focus {
      color: #dfdfdf;
      background: #ffffff;
    }

    .parameters-legend-features {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 30px;
      align-items: center;
      color: #030303;
      background: #ffffff;
    }

      .features-ul {
        list-style: none;
        padding:0;
        margin:0;
      }

      .features-input-checkbox-on {
        position: absolute;
        width: 25px;
        height: 23px;
        left: 140px;
        top: 909px;
        opacity: 0.4;
        color: #030303;
        background: #ffffff;
      }

      .features-input-checkbox-on-slider,
      .features-input-checkbox-on-news {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #030303;
        background: #ffffff;
      }

      
      .features-input-checkbox-off {
        position: absolute;
        width: 23px;
        height: 23px;
        left: 140px;
        top: 949px;
        opacity: 0.4;
        color: #030303;
        background: #ffffff;
      }

      .features-input-checkbox-on-the-array-of-benefits,
      .features-input-checkbox-on-gallery,
      .features-input-checkbox-on-basket {
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color:#000;
        background:#ffffff;
      }

      .features-input-checkbox-on-slider,
      .features-input-checkbox-on-news,
      .features-input-checkbox-off,
      .features-input-checkbox-on-the-array-of-benefits,
      .features-input-checkbox-on-gallery,
      .features-input-checkbox-on-baske:hover {
        color: #d5d5d5;
        background: #ffffff;
      }

      .features-input-checkbox-off,
      .features-input-checkbox-on-slider,
      .features-input-checkbox-on-news
      .features-input-checkbox-on-the-array-of-benefits,
      .features-input-checkbox-on-gallery,
      .features-input-checkbox-on-baske:focus {
        color: #000; 
        background: #ffffff;
      }

      .button {
        position: absolute;
        width: 260px;
        height: 50px;
        left: 140px;
        top: 1140px;
        background:#ffffff;
        border-radius: 3px;
        color:#d5d5d5;
      }

      .button {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color:#000;
        background:#d5d5d5;
        align-items: center;
      }

      .main-container-p { 
        display:flex;
        flex-direction: row;
        align-items: stretch;  
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px; 
        color:#000;
        background: #ffffff;
      }

      .sort-a-by-price {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color:#000 ;
        background: #ffffff;
        align-items: center;
      }

      .sort-a-by-type,
      .sort-a-by-name {
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color:#d5d5d5;
        background: #ffffff;
        align-items: center;
      }

      .sort-a-by-type,
      .sort-a-by-name,
      .sort-a-by-price:hover {
        color: #d5d5d5;
        background: #ffffff;
      }

      .sort-a-by-type,
      .sort-a-by-name,
      .sort-a-by-price:focus {
        color: #030303;
        background: #ffffff;
      }

      .site { 
        background: #FFFFFF;
        box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
        border-radius: 5px;
        position: absolute;
        width: 358px;
        height: 578px;
        left: 541px;
        top: 528px;
        background: #C4C4C4;
        border-radius: 0px 0px 5px 5px;
      }

      .catalog-list  {
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom:25;
        justify-content: space-between;
      }
      .catalog-idem {
        background-image: url(..//img/MaskGroupSedona.jpg);
        background-image: url(..//img/MaskGroupPink.jpg);
        background-image: url(..//img/MaskGroupBarbershop-Borodinski.jpg);
        background-image: url(..//img/MaskGroupMishka.jpg);
        background-image: url(..//img/MaskGroupA+.jpg);
        background-image: url(..//img/MaskGroupKvast.jpg);
      }

      .catalog-idem {
        width: 358;
        min-height:578;
      }

      .site:hover {
        color: #d7373b;
        background: #ffffff;
      }

      .site:focus {
        color:#C4C4C4;
        background: #ffffff;
      }

        
      /*modal*/
      .modal-rectangle {
        position: absolute;
        width: 360px;
        height: 231px;
        left: 540px;
        top: 877px;
        color: #000;
        background:#ffffff;
      }

      .modal-rectangle {
        font-family: Roboto;
        font-style: normal;
        font-weight:700;
        font-size: 18px;
        line-height: 30px;
        color:#000;
        background:#C4C4C4;
        align-items: center;
      }

      .modal-rectangle {
       font-family: Roboto;
       font-style: normal;
       font-weight: 400;
       font-size: 16px;
       line-height: 18px;
       align-items: center;
       color:#000;
       background: #C4C4C4;
      }

      .modal-button {
        border-radius: 3px;
        background: #d7373b;
      }

      .modal-button {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color:#dfdfdf;
        background:#fb565a;
        align-items: center;
      }

      .modal-button:hover {
        color:#DBDBDB;
        background:#e74246;
      }

      .modal-button:focus {
        color: #dfdfdf;
        background: #d7373b;
      }

      /*pages*/
      .pages {
        display: flex;
        background: #FFFFFF;
        border: 3px solid #DBDBDB;
        box-sizing: border-box;
        border-radius: 3px;
      }

      .pages-1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        align-items: center;
        color:#000;
        background:#ffffff;
      }

      .pages-2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        align-items: center;
        color:#000;
        background:#C4C4C4;
      }

      .pages-3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        align-items: center;
        color:#000;
        background:#C4C4C4;
      }

      .pages-1,
      .pages-2,
      .pages-3:hover {
        color:#000;
        background:#d5d5d5;
      }

      .pages-1,
      .pages-2,
      .pages-3:focus {
        color: #d5d5d5;
        background: #d5d5d5;
      }

      .button-grey {
        border-radius: 3px;
        background: #ffffff;
      }

        .button-grey {
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 18px;
          align-items: center;
          color:#000;
          background: #C4C4C4;
        }

          /*main-footer*/
    .rectangle {
      position: absolute;
      width: 319px;
      height: 308px;
      left: 140px;
      top: 1897px;
      background:#ffffff;
    }

    .title p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      color:#000000;
      background:#ffffff;
      text-align:center;
    }

    .contacts {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      text-align:center;
      color:#000000;
      background:#ffffff;
    }

    .button {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color:#ffffff;
      background:#d7373b;
      text-align:center;
    }

    /*map*/
    .map {
      background-image: url("../img/map-markerNerds.png");
    }

    /*footer-social*/
    .footer-socia-list {
      list-style:none;
    }

    .footer-socia-list {
      text-align:center;
    }

    .footer-socia-idem {
      width:81px;
      height:81px;
      color: #ffffff;
      background:#d5d5d5;
      border-radius:50%;
      background-image: url("../img/vk-icon.ico");
    }

    .footer-socia-idem {
      width:81px;
      height:81px;
      color: #ffffff;
      background:#d5d5d5;
      border-radius:50%;
      background-image: url("../img/fb-icon.ico");
    }

    .footer-socia-idem {
      width:81px;
      height:81px;
      color: #ffffff;
      background:#d5d5d5;
      border-radius:50%;
      background-image: url("../img/insta-icon.ico");
    }

    
    .footer-socia-idem-hover {
      width:81px;
      height:81px;
      color:#ffffff;
      background:#e74246;
      border-radius:50%;
      background-image: url("../img/vk-icon.ico");
    }

    .footer-socia-idem-hover{
      width:81px;
      height:81px;
      color: #ffffff;
      background:#e74246;
      border-radius:50%;
      background-image: url("../img/fb-icon.ico");
    }

    .footersocia-idem-hover {
      width:81px;
      height:81px;
      color: #ffffff;
      background:#e74246;
      border-radius:50%;
      background-image: url("../img/insta-icon.ico");
    }

    .footer-socia-idem-focus {
      width:81px;
      height:81px;
      color:#d5d5d5;
      background:#d7373b;
      border-radius:50%;
      background-image: url("../img/vk-icon.ico");
    }

    .footer-socia-idem-focus {
      width:81px;
      height:81px;
      color:#d5d5d5;
      background:#d7373b;
      border-radius:50%;
      background-image: url("../img/fb-icon.ico");
    }

    .footer-socia-idem-focus {
      width:81px;
      height:81px;
      color: #d5d5d5;
      background:#d7373b;
      border-radius:50%;
      background-image: url("../img/insta-icon.ico");
    }

    .main-footer p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      align-items: center;
      line-height: 36px;
      color:#000000;
      background:#ffffff;
    }

    .main-footer p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      align-items: center;
      color:#000000;
      background:#ffffff;
    }





      








        









        




      



        













  

















    
    





    


      

      
















    
    




      
      
      
      
      


 

      































    



    




    

      



  


      
     

      
     
