/*Fonts*/
@font-face {
  font-famaly:"roboto";
  src:url("../fonts/roboto.woff2") format("woff2");
   url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-famaly:"robotobold";
    src:url("../fonts/robotobold.woff2") format("woff2");
     url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-famaly:"robotomedium";
    src:url("../fonts/robotomedium.woff2") format("woff2");
     url("../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }

  /*variables*/
  :root {
    --basic-black:#000000;
    --basic-black:#070707;
    --basic-black:#030303;
    --basic-grey:#eeeeeedc;
    --basic-grey:#dfdfdf;
    --basic-grey:#d5d5d5;
    --basic-white:#ffffff;
    --basic-red:#fb565a;
    --basic-red:#e74246;
    --basic-red:#d7373b;
    --basic-green:#00ca74;
    --basic-green:#00bc6c;
    --basic-green:#00aa62;
    --basic-yellow:#efc849;
    --basic-yellow:#eab534;
    --basic-yellow:#e5a722;
  }

 
    img {
      max-width: 100%;
      height:auto;
    }

    /*main-navigation*/
    .main-navigation {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 30px;
      color:#000000; 
    }

    /*main-navigation-wrapper*/
    .main-navigation-wrappe {
      background-color: #d5d5d5;
    } 

    /*user navigation */
    .site-navigation a,
    .user-navigation a {
      font-family: Roboto;
      font-style:normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 30px; 
      color:#000000;
    }
    
    .site-navigation a:hover,
    .user-navigation a:hover {
      color: #fb565a;
      background:#dfdfdf;
    }
    .site-navigation a:focus,
    .user-navigation a:focus {
      color:#d5d5d5;
      background:#dfdfdf;
    }

    /*information*/
    .list-information {
      list-style:none;
    }
    
    .list-information {
      text-align: center;
    }

    .list-item gallery {
      background-image: url("../img/slideTelephone.jpg");
    }
    
    .list-item p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 55px;
      line-height: 55px;
      color:#000000;
      background: #d5d5d5;
    }

    .list-item p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color:#000000;
      background:#d5d5d5;
    }

    .list-item gallery {
      background-image: url("../img/slideComputer.jpg");
    }
    
    .list-item p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 55px;
      line-height: 55px;
      color:#000000;
      background: #d5d5d5;
    }

    .list-item p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color:#000000;
      background:#d5d5d5;
    }

    .list-item gallery {
      background-image: url("../img/slideTablet.jpg");
    }
    
    .list-item p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 55px;
      line-height: 55px;
      color:#000000;
      background: #d5d5d5;
    }

    .list-item p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color:#000000;
      background:#d5d5d5;
    }

    .list-item gallery {
      background-image: url("../img/slideComputer.jpg");
    }

    .button p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color:#ffffff;
      background:#fb565a;
    }

    .button:hover {
      color:#ffffff;
      background:#e74246;
      border-radius: 3px;
    }
    .button:focus {
      color:#d5d5d5;
      background:#d7373b;
      border-radius: 3px;
    }

    /*services*/
    .services-list {
      list-style:none;
    }

    .services-list {
      text-align: center;
    }
    
    .services-list {
      background-image: url("../img/web.jpg");
      background:#ffffff;
    }

    .list-item h3 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color:#070707;
      background:#ffffff;
    }

    .list-item p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color:#000000;
      background:#ffffff;
    }

    .list-item button:hover {
      color:#ffffff;
      background:#e74246;
      border-radius: 3px;
    }
    .list-item button:focus {
      color:#d5d5d5;
      background:#d7373b;
      border-radius: 3px;
    }

    .services-list {
      background-image: url("../img/application.jpg");
      background:#ffffff;
    }

    .list-item h3 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color:#070707;
      background:#ffffff;
    }

    .list-item p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color:#000000;
      background:#ffffff;
    } 

    .list-item button:hover {
      color:#ffffff;
      background:#00bc6c;
    }
    .list-item button:focus {
      color:#d5d5d5;
      background:#00aa62;
    }

    .services-list {
      background-image: url("../img/presentation.jpg");
      background:#ffffff;
    }

    .list-item h3 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color:#070707;
      background:#ffffff;
    }

    .list-item p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color:#000000;
      background:#ffffff;
    }

    .list-item button:hover {
      color:#ffffff;
      background:#eab534;
    }

    .list-item button:focus {
      color:#d5d5d5;
      background:#e5a722;
    }

    /*description*/
    .description {
      list-style:none;
    }

    .description {
      text-align: center;
    }

    .description p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 45px;
      line-height: 45px;
      color:#000000;
      background:#ffffff;
    }

    .description p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color:#000000;
      background:#ffffff;
    }

    /*development*/
    .development-list {
      list-style:none;
    }

    .development-list{
      text-align: center;
    }


    .development-list h3 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color:#000000;
      background:#ffffff;
    }

    .development-idem {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color:#000000;
      background:#ffffff;
    }

    /*indicators*/
    .indicators-list {
      list-style:none;
    }

    .indicators-list {
      text-align: center;
    }

    .indicators-idem {
      background-image: url("../img/nerds-illustration.jpg");
      background:#ffffff;
    }

    .indicators-idem p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color:#000000;
      background:#ffffff;
    }

    .indicators-idem {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 45px;
      line-height: 64px;
      color:#000000;
      background:#ffffff;
    }

    .indicators-idem {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 40px;
      color:#000000;
      background:#ffffff;
    }

    .indicators-idem {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color:#000000;
      background:#ffffff;
    }

    /*partners*/
    .partners-list a {
      list-style:none;
    }  

    .partners-list a {
      text-align: center;
    } 

    .partners-idem a:hover {
      color:#000000;
      background-color:#ffffff;
      background-image: url("../img/logohtml-academy.png");
    }

    .partners-idem a:focus {
      color:#d5d5d5;
      background-image: url("../img/logohtml-academy.png");
      background:#ffffff;
    }

    .partners-idem a:hover {
      color:#000000;
      background-color:#ffffff;
      background-image: url("../img/logoBarbershop-borodinski.png");
    }

    .partners-idem a:focus {
      color:#d5d5d5;
      background-image: url("../img/logoBarbershop-borodinski.png");
      background:#ffffff;
    }

    .partners-idem a:hover {
      color:#000000;
      background:#ffffff;
      background-image: url("../img/logoPink.png");
    }

    .partners-idem a:focus {
      color:#d5d5d5;
      background-image: url("../img/logoPink.png");
      background:#ffffff;
    } 

    .partners-idem a:hover {
      color:#000000;
      background:#ffffff;
      background-image: url("../img/logoMishka.png");
    }

    .partners-idem a:focus {
      color:#d5d5d5;
      background-image: url("../img/logoMishka.png");
      background:#ffffff;
    }

    /*main-footer*/
    .rectangle {
      position: absolute;
      width: 319px;
      height: 308px;
      left: 140px;
      top: 1897px;
      background:#ffffff;
    }

    .title p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      color:#000000;
      background:#ffffff;
      text-align:center;
    }

    .contacts {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      text-align:center;
      color:#000000;
      background:#ffffff;
    }

    .button {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color:#ffffff;
      background:#d7373b;
      text-align:center;
    }

    /*map*/
    .map {
      background-image: url("../img/map-markerNerds.png");
    }

    /*footer-social*/
    .footer-socia-list {
      list-style:none;
    }

    .footer-socia-list {
      text-align:center;
    }

    .footer-socia-idem {
      width:81px;
      height:81px;
      color: #ffffff;
      background:#d5d5d5;
      border-radius:50%;
      background-image: url("../img/vk-icon.ico");
    }

    .footer-socia-idem {
      width:81px;
      height:81px;
      color: #ffffff;
      background:#d5d5d5;
      border-radius:50%;
      background-image: url("../img/fb-icon.ico");
    }

    .footer-socia-idem {
      width:81px;
      height:81px;
      color: #ffffff;
      background:#d5d5d5;
      border-radius:50%;
      background-image: url("../img/insta-icon.ico");
    }

    
    .footer-socia-idem-hover {
      width:81px;
      height:81px;
      color:#ffffff;
      background:#e74246;
      border-radius:50%;
      background-image: url("../img/vk-icon.ico");
    }

    .footer-socia-idem-hover{
      width:81px;
      height:81px;
      color: #ffffff;
      background:#e74246;
      border-radius:50%;
      background-image: url("../img/fb-icon.ico");
    }

    .footersocia-idem-hover {
      width:81px;
      height:81px;
      color: #ffffff;
      background:#e74246;
      border-radius:50%;
      background-image: url("../img/insta-icon.ico");
    }

    .footer-socia-idem-focus {
      width:81px;
      height:81px;
      color:#d5d5d5;
      background:#d7373b;
      border-radius:50%;
      background-image: url("../img/vk-icon.ico");
    }

    .footer-socia-idem-focus {
      width:81px;
      height:81px;
      color:#d5d5d5;
      background:#d7373b;
      border-radius:50%;
      background-image: url("../img/fb-icon.ico");
    }

    .footer-socia-idem-focus {
      width:81px;
      height:81px;
      color: #d5d5d5;
      background:#d7373b;
      border-radius:50%;
      background-image: url("../img/insta-icon.ico");
    }


    /*popur*/
    .popur-list {
    text-align:center;
    }

    .popur {
    background:#ffffff;
    box-shadow:slateblue 0px 20px 40px rgba(0, 0, 0, 0.4);
    }  

    .popur h2 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 45px;
      line-height: 53px;
      color: #000000;
      background: #ffffff;
    }

    /*form-input*/
    .form-input {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      color:#000000;
      background: #ffffff;
    }

    .form-input [type="your name"],
    .form-input [type="your email"],
    .form-input [type="text letter"] {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color:#000000;
      background: #ffffff;
    }
   
    .form-input [type="name surname"],
    .form-input [type="email"],
    .form-input [type="text"]{
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      border: 2px;
      color:#d5d5d5;
      background: #ffffff;
    }
    .form-input:hover {
      border-color:#d5d5d5;
    }

    .form-input:focus {
      border-color:#030303;
    }

    .form-input:invalid {
      border-color:#fb565a;
      color:#fb565a;
      background:#ffffff;
    }

    .button {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color:#ffffff;
      background:#d7373b;
      border-radius: 3px;;
    }

    .main-footer p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      align-items: center;
      line-height: 36px;
      color:#000000;
      background:#ffffff;
    }

    .main-footer p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      align-items: center;
      color:#000000;
      background:#ffffff;
    }


    /*catalog*/
    .main-container {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 55px;
      line-height: 55px;
      align-items: center;
      color: #000;
      background:#d5d5d5;
    }

    .parameters-legend-cost {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      align-items: center;
      color:#000;
      background:#ffffff;
    }

      .parameters-legend-cost
      rect {
      position: absolute;
      width: 260px;
      height: 80px;
      left: 140px;
      top: 488px;
      color: #d5d5d5;
      background: #ffffff;
      border-radius: 3px;
    }

    .parameters-legend-cost {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color:#000;
      background: #ffffff;
    }

    .parameters-legend-cost
    rect { 
     position: absolute;
     width: 80px;
     height: 38px;
     left: 172px;
     top: 582px;
     color: #030303;
     background:#d5d5d5;
     border-radius: 3px;
    }

    .parameters-legend-cost {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color:#000;
      background:#d5d5d5;
    }

    .parameters-legend-cost
    rect {
      position: absolute;
      width: 80px;
      height: 38px;
      left: 320px;
      top: 582px;
      color:#000;
      background:#d5d5d5;
      border-radius:3px;
    }

    .parameters-legend-grid {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      align-items: center;
      color: #000;
      background:#ffffff;
    }

    .grid ul{
      list-style: none;
    }

    .grid-inpud-radio-on {
      position: absolute;
      width: 25px;
      height: 25px;
      left: 140px;
      top: 717px;
      opacity: 0.4;color:#000;
      background: #ffffff;
    }

    .grid-inpud-radio-on-adaptive {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color:#000;
      background:#ffffff;
    }

    .grid-inpud-radio-of {
      position: absolute;
      width: 25px;
      height: 25px;
      left: 140px;
      top: 757px;
      opacity: 0.4;
      color:#000;
      background:#ffffff;
    }

    .grid-inpud-radio-of-fixed {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #030303;
      background: #ffffff;
    }

    .grid-inpud-radio-of {
      osition: absolute;
      width: 25px;
      height: 25px;
      left: 140px;
      top: 757px;
      opacity: 0.4;
      color:#000;
      background:#ffffff;
    }

    .grid-inpud-radio-of-rubber-band {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #030303;
      background:#ffffff;
    }

    .grid-inpud-radio-of,
    .grid-inpud-radio-on:hover {
      color: #030303;
      background: #ffffff;
    }

    .grid-inpud-radio-of,
    .grid-inpud-radio-on:focus {
      color: #dfdfdf;
      background: #ffffff;
    }

    .parameters-legend-features {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 30px;
      align-items: center;
      color: #030303;
      background: #ffffff;
    }

      .features ul{
        list-style: none;
      }

      .features-input-checkbox-on {
        position: absolute;
        width: 25px;
        height: 23px;
        left: 140px;
        top: 909px;
        opacity: 0.4;
        color: #030303;
        background: #ffffff;
      }

      .features-input-checkbox-on-slider,
      .features-input-checkbox-on-news {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #030303;
        background: #ffffff;
      }

      
      .features-input-checkbox-off {
        position: absolute;
        width: 23px;
        height: 23px;
        left: 140px;
        top: 949px;
        opacity: 0.4;
        color: #030303;
        background: #ffffff;
      }

      .features-input-checkbox-on-the-array-of-benefits,
      .features-input-checkbox-on-gallery,
      .features-input-checkbox-on-basket {
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color:#000;
        background:#ffffff;
      }

      .features-input-checkbox-on-slider,
      .features-input-checkbox-on-news,
      .features-input-checkbox-off,
      .features-input-checkbox-on-the-array-of-benefits,
      .features-input-checkbox-on-gallery,
      .features-input-checkbox-on-baske:hover {
        color: #d5d5d5;
        background: #ffffff;
      }

      .features-input-checkbox-off,
      .features-input-checkbox-on-slider,
      .features-input-checkbox-on-news
      .features-input-checkbox-on-the-array-of-benefits,
      .features-input-checkbox-on-gallery,
      .features-input-checkbox-on-baske:focus {
        color: #000; 
        background: #ffffff;
      }

      .button {
        position: absolute;
        width: 260px;
        height: 50px;
        left: 140px;
        top: 1140px;
        background:#ffffff;
        border-radius: 3px;
        color:#d5d5d5;
      }

      .button {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color:#000;
        background:#d5d5d5;
        align-items: center;
      }

      .main-container p {   
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        align-items: center;
        line-height: 30px; 
        color:#000;
        background: #ffffff;
      }

      .sort-a-by-price {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color:#000 ;
        background: #ffffff;
        align-items: center;
      }

      .sort-a-by-type,
      .sort-a-by-name {
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color:#d5d5d5;
        background: #ffffff;
        align-items: center;
      }

      .sort-a-by-type,
      .sort-a-by-name,
      .sort-a-by-price:hover {
        color: #d5d5d5;
        background: #ffffff;
      }

      .sort-a-by-type,
      .sort-a-by-name,
      .sort-a-by-price:focus {
        color: #030303;
        background: #ffffff;
      }

      .site { 
        background: #FFFFFF;
        box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
        border-radius: 5px;
        position: absolute;
        width: 358px;
        height: 578px;
        left: 541px;
        top: 528px;
        background: #C4C4C4;
        border-radius: 0px 0px 5px 5px;
      }

      .site-img  {
        background-image: url(..//img/MaskGroupSedona.jpg);
        background-image: url(..//img/MaskGroupPink.jpg);
        background-image: url(..//img/MaskGroupBarbershop-Borodinski.jpg);
        background-image: url(..//img/MaskGroupMishka.jpg);
        background-image: url(..//img/MaskGroupA+.jpg);
        background-image: url(..//img/MaskGroupKvast.jpg);
      }
      .site:hover {
        color: #d7373b;
        background: #ffffff;
      }

      .site:focus {
        color:#C4C4C4;
        background: #ffffff;
      }

        
      /*modal*/
      .modal-rectangle {
        position: absolute;
        width: 360px;
        height: 231px;
        left: 540px;
        top: 877px;
        color: #000;
        background:#ffffff;
      }

      .modal-rectangle {
        font-family: Roboto;
        font-style: normal;
        font-weight:700;
        font-size: 18px;
        line-height: 30px;
        color:#000;
        background:#C4C4C4;
        align-items: center;
      }

      .modal-rectangle {
       font-family: Roboto;
       font-style: normal;
       font-weight: 400;
       font-size: 16px;
       line-height: 18px;
       align-items: center;
       color:#000;
       background: #C4C4C4;
      }

      .modal-button {
        border-radius: 3px;
        background: #d7373b;
      }

      .modal-button {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color:#dfdfdf;
        background:#fb565a;
        align-items: center;
      }

      .modal-button:hover {
        color:#DBDBDB;
        background:#e74246;
      }

      .modal-button:focus {
        color: #dfdfdf;
        background: #d7373b;
      }

      /*pages*/
      .pages {
        background: #FFFFFF;
        border: 3px solid #DBDBDB;
        box-sizing: border-box;
        border-radius: 3px;
      }

      .pages-1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        align-items: center;
        color:#000;
        background:#ffffff;
      }

      .pages-2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        align-items: center;
        color:#000;
        background:#C4C4C4;
      }

      .pages-3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        align-items: center;
        color:#000;
        background:#C4C4C4;
      }

      .pages-1,
      .pages-2,
      .pages-3:hover {
        color:#000;
        background:#d5d5d5;
      }

      .pages-1,
      .pages-2,
      .pages-3:focus {
        color: #d5d5d5;
        background: #d5d5d5;
      }

      .button-grey {
        border-radius: 3px;
        background: #ffffff;
      }

        .button-grey {
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 18px;
          align-items: center;
          color:#000;
          background: #C4C4C4;
        }

          /*main-footer*/
    .rectangle {
      position: absolute;
      width: 319px;
      height: 308px;
      left: 140px;
      top: 1897px;
      background:#ffffff;
    }

    .title p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      color:#000000;
      background:#ffffff;
      text-align:center;
    }

    .contacts {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      text-align:center;
      color:#000000;
      background:#ffffff;
    }

    .button {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color:#ffffff;
      background:#d7373b;
      text-align:center;
    }

    /*map*/
    .map {
      background-image: url("../img/map-markerNerds.png");
    }

    /*footer-social*/
    .footer-socia-list {
      list-style:none;
    }

    .footer-socia-list {
      text-align:center;
    }

    .footer-socia-idem {
      width:81px;
      height:81px;
      color: #ffffff;
      background:#d5d5d5;
      border-radius:50%;
      background-image: url("../img/vk-icon.ico");
    }

    .footer-socia-idem {
      width:81px;
      height:81px;
      color: #ffffff;
      background:#d5d5d5;
      border-radius:50%;
      background-image: url("../img/fb-icon.ico");
    }

    .footer-socia-idem {
      width:81px;
      height:81px;
      color: #ffffff;
      background:#d5d5d5;
      border-radius:50%;
      background-image: url("../img/insta-icon.ico");
    }

    
    .footer-socia-idem-hover {
      width:81px;
      height:81px;
      color:#ffffff;
      background:#e74246;
      border-radius:50%;
      background-image: url("../img/vk-icon.ico");
    }

    .footer-socia-idem-hover{
      width:81px;
      height:81px;
      color: #ffffff;
      background:#e74246;
      border-radius:50%;
      background-image: url("../img/fb-icon.ico");
    }

    .footersocia-idem-hover {
      width:81px;
      height:81px;
      color: #ffffff;
      background:#e74246;
      border-radius:50%;
      background-image: url("../img/insta-icon.ico");
    }

    .footer-socia-idem-focus {
      width:81px;
      height:81px;
      color:#d5d5d5;
      background:#d7373b;
      border-radius:50%;
      background-image: url("../img/vk-icon.ico");
    }

    .footer-socia-idem-focus {
      width:81px;
      height:81px;
      color:#d5d5d5;
      background:#d7373b;
      border-radius:50%;
      background-image: url("../img/fb-icon.ico");
    }

    .footer-socia-idem-focus {
      width:81px;
      height:81px;
      color: #d5d5d5;
      background:#d7373b;
      border-radius:50%;
      background-image: url("../img/insta-icon.ico");
    }

    .main-footer p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      align-items: center;
      line-height: 36px;
      color:#000000;
      background:#ffffff;
    }

    .main-footer p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      align-items: center;
      color:#000000;
      background:#ffffff;
    }





      








        









        




      



        













  

















    
    





    


      

      
















    
    




      
      
      
      
      


 

      































    



    




    

      



  


      
     

      
     
